<div class="login-wrapper">
  <div class="login-overlay"></div>
  <div class="container d-flex justify-content-end align-items-center">

    <div>
      <mat-card>
        <div class="login-form">
          <div class="text-center">
            <mat-card-title>
              <span class="primary">Proceed to</span>
              Signup
            </mat-card-title>
            <img src="assets/images/book_icon.jpg" alt="" class="book_icon">
          </div>         

          <div>
            <app-custom-stepper></app-custom-stepper>
          </div>

          <div *ngIf="this.step2 &&role =='2'">
            Owner
          </div>

        </div>
      </mat-card>
    </div>
  </div>
</div>