<div class="login-wrapper">
  <div class="login-overlay"></div>
  <div class="container d-flex justify-content-end align-items-center">
    <div>
      <mat-card class="py-5">
        <div class="login-form">
          <div class="text-center">

            <mat-card-title>
              <span class="primary">Proceed to</span>
              Login
            </mat-card-title>
            <img src="assets/images/book_icon.jpg" alt="" class="book_icon">
          </div>
          <div *ngIf="!this.isOTPSendedSuccessfully; else OTPContainer">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Mobile Number</mat-label>
              <input type="tel" matInput placeholder="" [(ngModel)]="phoneNumber">
              <mat-icon color="primary" matSuffix>phone</mat-icon>
            </mat-form-field>
            <!-- <div id="recaptcha-container">
            </div> -->
            <div class="text-center">
              <button mat-raised-button color="primary" class="py-1 px-5" type="submit" id="recaptcha"
                (click)="getOtp()">Continue</button>
            </div>
          </div>
          <ng-template #OTPContainer>
            <app-otp-input></app-otp-input>
          </ng-template>



          <!-- <mat-form-field class="full-width" appearance="fill">
            <mat-label>otp</mat-label>
            <input type="text" matInput placeholder="" [(ngModel)]="otp">
            <mat-icon color="primary" matSuffix>phone</mat-icon>
          </mat-form-field> -->
        </div>
      </mat-card>
    </div>
  </div>
</div>